html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 0px;
    padding: 15px 230px 150px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-header {
    font-size: 24px;
    color: #f9faf8;
}

.right-header, 
.header-text .header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.right-header {
    display: flex;
    gap: 20px;
}

.header-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 800;
    margin-top: 15px;
    font-size: 18px;
}

.lower-header {
    display: flex;
    justify-content: space-between;

}

.header-text {
    flex-basis: 450px;
}

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.random-information h1 {
    font-size: 36px;
    font-weight: 900;
    color: 1F2937;
    margin-top: 0;
}

.information-cards {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    height: 250px;
}

.card-outline {
    outline: 5px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 15px;
}

.card-text {
    font-size: 18px;
    text-align: center;
    color: #7b7b7b;
}

.quotation {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 50px 0px;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
}

.author {
    align-self: flex-end;
    font-weight: 900;
}

#cta-button {
    outline: 2px solid white;
    margin: 0px;
}

.call-to-action {
    background-color: white;
    padding: 100px 250px;
}

.cta-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 25px 100px;
}

.cta-text {
    color: #E5E7EB;
}

.cta-text h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #f9faf8;
}